html{
  font-size: 62.5%;
  font-family: Roboto,sans-serif;
}
body{
  background-color: #ffffff;
}
h1{
  color: #222;
}
h2{
  color: #222;
}
p{
  color: #222;
}
button{
  cursor: pointer;
}
.main-container{
  margin: 0 5rem;
}
